<footer class="py-4 border-top">
  <div class="container">
    <div class="d-flex justify-content-between">
      <span class="text-muted pt-1">&copy; 2022 Company, Inc</span>
      <div>
        <a class="text-muted" href="#"><i class="fa-brands fa-twitter fs-2"></i></a>
        <a class="text-muted ms-2 ms-md-3" href="#"><i class="fa-brands fa-instagram fs-2"></i></a>
        <a class="text-muted ms-2 ms-md-3" href="#"><i class="fa-brands fa-facebook fs-2"></i></a>
      </div>
    </div>
  </div>
</footer>
