{% extends 'base.html.twig' %}
{% block title %}
Trick
{% endblock %}

{% block body %}
<main class="offset">
  <div class="container">
    <div class="mb-4 position-relative">
      <img class="w-100 rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
      <h1 class="position-absolute bottom-0 start-50 translate-middle text-uppercase fs-1">{{ trick.name }}</h1>
      <div class="position-absolute top-0 end-0 py-3">
        <a href="" class="text-decoration-none fa-sharp fa-solid fa-pen"></a>
        <a href="" class="text-decoration-none fa-solid fa-trash-can mx-3"></a>
      </div>
    </div>
    <section id="medias" class="mb-4">
      <div class="row">
        <!-- photos -->
        <div class="d-none d-lg-block col-6">
          <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  {% for i in 1..3 %}
                  <div class="col-lg-4">
                    <div class="card">
                      <img class="d-block w-100" src="https://dummyimage.com/388x258/dee1e6/697379.jpg" alt="..." />
                      <div class="card-body text-end p-2">
                        <a href="" class="text-decoration-none fa-sharp fa-solid fa-pen"></a>
                        <a href="" class="text-decoration-none fa-solid fa-trash-can mx-2"></a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  {% for i in 1..3 %}
                  <div class="col-lg-4">
                    <div class="card">
                      <img class="d-block w-100" src="https://dummyimage.com/388x258/dee1e6/697379.jpg" alt="..." />
                      <div class="card-body text-end p-2">
                        <a href="" class="text-decoration-none fa-sharp fa-solid fa-pen"></a>
                        <a href="" class="text-decoration-none fa-solid fa-trash-can mx-2"></a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- video -->
        <div class="d-none d-lg-block col-6">
          <div id="carousel2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  {% for i in 1..3 %}
                  <div class="col-lg-4">
                    <div class="card">
                      <img class="d-block w-100" src="https://dummyimage.com/388x258/dee1e6/697379.jpg" alt="..." />
                      <div class="card-body text-end p-2">
                        <a href="" class="text-decoration-none fa-sharp fa-solid fa-pen"></a>
                        <a href="" class="text-decoration-none fa-solid fa-trash-can mx-2"></a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  {% for i in 1..3 %}
                  <div class="col-lg-4">
                    <div class="card">
                      <img class="d-block w-100" src="https://dummyimage.com/388x258/dee1e6/697379.jpg" alt="..." />
                      <div class="card-body text-end p-2">
                        <a href="" class="text-decoration-none fa-sharp fa-solid fa-pen"></a>
                        <a href="" class="text-decoration-none fa-solid fa-trash-can mx-2"></a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary d-lg-none">Medias</button>
      </div>
    </section>
    <section id="description">
      <div class="col-md-10 mx-auto">
        <div class="mb-3">
          <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
          <span class="fw-bold">username</span>
        </div>
        <div>
          <p class="text-muted fst-italic">publié le {{ trick.createdAt|date('d/m/Y') }}</p>
          {% if trick.modifiedAt %}
          <p class="text-muted fst-italic">mis à jour le {{ trick.modifiedAt|date('d/m/Y') }} </p>
          {% endif %}
        </div>
        <a class="badge bg-secondary text-decoration-none mb-3" href="#!">Groupe</a>
        <p>{{ trick.description }}</p>
      </div>
    </section>
    <!-- Comments section -->
    <section class="mb-5">
      <div class="card col-md-10 mx-auto bg-light">
        <div class="card-body">
          <!-- Comment form -->
          <form class="mb-4">
            <textarea class="form-control mb-3" rows="3"
              placeholder="Join the discussion and leave a comment!"></textarea>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Valider</button>
            </div>
          </form>
          <!-- Comment with nested comments -->
          <div class="d-flex mb-4">
            <!-- Parent comment -->
            <div class="flex-shrink-0">
              <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
            </div>
            <div class="ms-3">
              <div class="fw-bold">Commenter Name</div>If you're going to lead a space frontier, it has to be
              government; it'll never be private enterprise. Because the space frontier is dangerous, and it's
              expensive, and it has unquantified risks.
              <!-- Child comment 1 -->
              <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                  <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                </div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>And under those conditions, you cannot establish a
                  capital-market evaluation of that enterprise. You can't get investors.
                </div>
              </div>
              <!-- Child comment 2 -->
              <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                  <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                </div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>When you put money directly to a problem, it makes a good
                  headline.
                </div>
              </div>
            </div>
          </div>
          <!-- Single comment -->
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
            </div>
            <div class="ms-3">
              <div class="fw-bold">Commenter Name</div>When I look at the universe and all the ways the universe wants
              to kill us, I find it hard to reconcile that with statements of beneficence.
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}